<!DOCTYPE html>
<html lang = "en">
{% extends "layout.html" %}

{% block heading %}
	{{ headline1 }}
{% endblock %}

{% block body %}
	<div>Harrison: <span id="harrison">{{ votes["harrison"] }}</span></div>
	<div>McCartney: <span id="mccartney">{{ votes["mccartney"] }}</span></div>
	<div>Lennon: <span id="lennon">{{ votes["lennon"] }}</span></div>
	<div>Ringo: <span id="ringo">{{ votes["ringo"] }}</span></div>
	
	<ul id="vote-list">
		
	</ul>
	<!-- data-vote can be read by button.dataset.vote. data-xxxx in general -->
	<button class="voting-btn" data-vote="harrison">George Harrison</button>
	<button class="voting-btn" data-vote="mccartney">Paul McCartney</button>
	<button class="voting-btn" data-vote="lennon">John Lennon</button>
	<button class="voting-btn" data-vote="ringo">Ringo</button>
{% endblock %}
</html>