<!DOCTYPE html>
<html lang = "en">
<head>
	<title>Testing</title>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
	<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>

<body>
	<h1>{% block heading %}
	{% endblock %}</h1>
	
	{% block body %}
	{% endblock %}
</body>
</html>