<!DOCTYPE html>
<html lang = "en">
{% extends "layout.html" %}

{% block heading %}
	{{ headline }}
{% endblock %}

{% block body %}
	<div id="page-content">
		<h2>
			{{ pgHeadline }}
		</h2>	
		<p id= "page-data">
			lol..empty.
		</p>
	</div>

{% endblock %}
</html>