<!DOCTYPE html>
<html lang = "en">
<head>
	<title>MyBlog</title>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
	<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>

<body>
	<h1>{% block heading %}
	{% endblock %}</h1>

	<h2>
		<ul id='go-to-list'>
			<li>
				<a href="" class='go-to-link' data-page='page1'>Page1</a>
			</li>
			<li>
				<a href="" class='go-to-link' data-page='page2'>Page2</a>
			</li>
			<li>
				<a href="" class='go-to-link' data-page='page3'>Page3</a>
			</li>			
		</ul>
	</h2>
	{% block body %}
	{% endblock %}
</body>
</html>