{% extends "layout.html" %}

{% block heading %}
	<script>

		document.addEventListener('DOMContentLoaded', setup);

		function setup()
		{			
			document.querySelector("#btn4").onclick = increment;
		}
		function Hello()
		{
			alert('Hello!');
		}
		function Hello2()
		{
			document.querySelector('h1').innerHTML="This is Jackass.!";
		}
		let counter = 0;
		function increment()
		{
			counter++;
			if((counter % 10) === 0)
			{
				// It'd not work ${counter}
				// alert("Counter reached ${counter} Resetting the counter.");
				// Jaascript requires `` not ('' or "")

				alert(`Counter reached ${counter} Resetting the counter.`);
				counter=0;
			}
			document.querySelector('#counter').innerHTML=counter;	
		}
	</script> 
	{{ headline }}
{% endblock %}

{% block body %}	
	<div>
		<p>
			Batman goes for a walk, buys an ice cream, looking at the kids he wonders about his childhood when he had a dog who's kidneys failed and died in his hands, meanwhile joker sits on the roof sipping coffee, observing batman and thinking how ridiculous his outfit is.
		</p>
		<button id="btn" onclick="Hello()">don't click me!</button><br>
		<button id="btn2" onclick="Hello2()">don't click me!</button><br>
		<h2 id="counter">0</h2>
		<button id="btn3" onclick="increment()">don't click me!</button><br>
		<button id="btn4">don't click me!</button><br>
	</div>
{% endblock %}