<!DOCTYPE html>
<html lang = "en">
{% extends "layout.html" %}

{% block heading %}
	{{ headline }}
{% endblock %}

{% block body %}
	<ul id="task-list">
		<li></li>
	</ul>
	<form id="task-form">
		<input id="new-task" type="text" autocomplete="off" autofocus name="newtask" placeholder="fix leakage.">
		<button id="task-submit-button">Submit!</button>
	</form>
{% endblock %}
</html>