<!DOCTYPE html>
<html lang = "en">
{% extends "layout.html" %}

{% block heading %}
	{{ headline }}
{% endblock %}

{% block body %}	
	<div>
		<p>
			Batman goes for a walk, buys an ice cream, looking at the kids he wonders about his childhood when he had a dog who's kidneys failed and died in his hands, meanwhile joker sits on the roof sipping coffee, observing batman and thinking how ridiculous his outfit is.
		</p>
		<button id="btn" onclick="Hello()">don't click me!</button><br>
		<button id="btn2" onclick="Hello2()">don't click me!</button><br>
		<h2 id="counter">0</h2>
		<button id="btn3" onclick="increment()">don't click me!</button><br>
		<button id="btn4">don't click me!</button><br><br>

		<form id="form">
			<input id = "usrname" autocomplete="off" autofocus type="text" name="username" placeholder="nancy.sinatra">
			<button>Submit!</button>
		</form>
	</div>
{% endblock %}
</html>