<!DOCTYPE html>
<html lang = "en">
{% extends "layout.html" %}

{% block heading %}
	{{ headline1 }}
{% endblock %}

{% block body %}
	<!-- if I add action="{{ url_for('convert') }}" method="post" to the below form Javascript function is not called -->
	<form>
		<input id="currency" type="text" name="currency" placeholder="USD">
		<button id="currency-submit-btn">Submit!</button>
	</form><br>

	<div id="result">Result:</div>
{% endblock %}
</html>