<!DOCTYPE html>
<html lang = "en">
<head>
	<title>Testing</title>
	<script src="{{ url_for('static', filename="js/script.js") }}"></script> 
</head>

<body>
	<h1>{% block heading %}
	{% endblock %}</h1>
	
	{% block body %}
	{% endblock %}
</body>
</html>