<!DOCTYPE html>
<html lang = "en">
{% extends "layout.html" %}

{% block heading %}
	{{ headline }}
{% endblock %}

{% block body %}	
	<div>
		<p id="batman">
			Batman goes for a walk, buys an ice cream, looking at the kids he wonders about his childhood when he had a dog who's kidneys failed and died in his hands, meanwhile joker sits on the roof sipping coffee, observing batman and thinking how ridiculous his outfit is.
		</p>
		<button id="blue">Blue!</button>
		<button id="green">Green!</button>
		<button id="red">Red!</button>
	</div>

	<div>
		<p id="batnan">
			Batman goes for a walk, buys an ice cream, looking at the kids he wonders about his childhood when he had a dog who's kidneys failed and died in his hands, meanwhile joker sits on the roof sipping coffee, observing batman and thinking how ridiculous his outfit is.
		</p>
		<button class="color-change" data-color="blue">Blue!</button>
		<button class="color-change" data-color="green">Green!</button>
		<button class="color-change" data-color="red">Red!</button>
	</div>

	<div>
		<p id="bathman">
			Batman goes for a walk, buys an ice cream, looking at the kids he wonders about his childhood when he had a dog who's kidneys failed and died in his hands, meanwhile joker sits on the roof sipping coffee, observing batman and thinking how ridiculous his outfit is.
		</p>
		<select id="color-change-id">
			<option value="black">Black!</option>			
			<option value="blue">Blue!</option>
			<option value="green">Green!</option>
			<option value="red">Red!</option>
		</select>
	</div>
{% endblock %}
</html>