<!DOCTYPE html>
<html lang = "en">
<head>
	<title>MyBlog</title>
</head>

<body>
	<h1>{% block heading %}
	{% endblock %}</h1>

	<h2 id="goto">
		<a href="{{ url_for('page1') }}">Page1</a>
		<a href="{{ url_for('page2') }}">Page2</a>
		<a href="{{ url_for('page3') }}">Page3</a>
	</h2>


	{% block body %}
	{% endblock %}
</body>
</html>