<!DOCTYPE html>
<html lang = "en">
{% extends "layout.html" %}

{% block heading %}
	{{ headline }}
{% endblock %}

{% block body %}
	<div id="page-content">
		<h2>
			{{ pgHeadline }}
		</h2>	
		<p>
			Batman walks into a chihahua. Almost stumbling by the bench, he asks the chihahua to pour him some whiskey. Scotch he said.
		</p>
	</div>

{% endblock %}
</html>