{% extends "layout.html" %}

{% block heading %}
	{{ heading }}
{% endblock %}

{% block body %}
	 <form action="{{ url_for('home') }}" method="post">
		Username:<br>
		<input type="text" name="userName" placeholder="nancy.sinatra"><br>
		Password:<br>
		<input type="Password" name="password" placeholder="password"><br>
		Name:<br>
		<input type="text" name="name" placeholder="Nancy Sinatra">
		<button>Submit</button>
	</form> 
{% endblock %}