<!DOCTYPE html>
<html lang = "en">
<head>
	<title> {{ pageTitle }} </title>
</head>

<body>
	<h1 style="color: darkmagenta; font-weight: bold; font-size: 30px;">{% block heading %} {% endblock %}</h1>
	{% block body %}
	{% endblock %}
</body>
