{% extends "layout.html" %}

{% block heading %}
	{{ heading }}
{% endblock %}

{% block body %}
	 <form action="{{ url_for('home') }}" method="post">
	 	<div class="form-group">
	 		<select class="form-control" name="flightid">
	 			{% for flight in flights %}
	 			<option value="{{ flight.id }}">{{ flight.id }} - {{ flight.origin }} to {{ flight.destination }}
	 			</option>
	 			{% endfor %}
	 		</select>
	 	</div>

	 	<div class="form-group">
	 		<input class="form-control" type="text" name="name" placeholder="Passenger Name">
	 	</div>

	 	<div class="form-group">
			<button class="btn btn-primary">Confirm!</button>
	 	</div>
	</form> 
{% endblock %}