<!DOCTYPE html>
<html lang = "en">
<head>
	<title>MyBlog</title>
	<script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src=" https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.js"></script>
    <!-- 2d method -->
    <script id="roll-result" type="text/x-handlebars-template">
    	You've rolled 
    	<li>
	    	{{#each result}}
	    	<img alt=" {{ this }}" title= "{{ this }}"src="img/{{ this }}.png">
	    	{{/each}}
	    	(Total: {{ total }})
    	</li>
    </script>
	<script>
		console.log('Start')
		//1st method
		const template= Handlebars.compile(document.querySelector('#roll-result').innerHTML);

		document.addEventListener('DOMContentLoaded', init);

		function init(){
			document.querySelector("#roll-btn").onclick = () => {
				const numDice= parseInt(document.querySelector("#num-of-dice").value)
				let result = [];
				let total=0;
				for(let i=0; i< numDice; i++)
				{
					const val = Math.floor((Math.random()* 6) + 1);		
					result.push(val);
					total += val;
				}
				const content= template({'result': result, 'total': total});
				document.querySelector("#rolls").innerHTML += content;
			}; 
		}
	</script>
	<style>
	</style>
</head>

<body>
	<h1>Roll the dice, no flask involved.</h1>
	<input id='num-of-dice' type="text" name="numOfDice" placeholder="3">
	<button id='roll-btn'>Roll!</button>
	
	<ul id='rolls'>
		
	</ul>
</body>
</html>