<!DOCTYPE html>
<html lang = "en">
{% extends "layout.html" %}

{% block heading %}
	{{ headline1 }}
{% endblock %}

{% block body %}
	<h2 id="count1">0</h2>
	<h1> {{ headline2 }}</h1>
	<h2 id="count2">0</h2>
{% endblock %}
</html>