{% extends "layout.html" %}

{% block heading %}
{% endblock %}

{% block body %}
	<h1>{{ headline }}</h1>
	<form action="{{ url_for('hello') }}" method="post">
		<input type="text" name="Name" placeholder="Nancy Sinatra">
		<button>Submit</button>
	</form>
{% endblock %}