<!DOCTYPE html>
<html lang = "en">
<!-- <head> -->
	<title>test flask</title>
</head>

<body>
	<!-- Headline and isitchristmas are variables passed dynamically by flask -->
	{% if isitchristmas %}
		<h1 style="text-align: center; font-size: 80px">Ho Ho Ho..Merry Christmas..!!</h1>
	{% else %}
		<h1 style="text-align: center; font-size: 80px">Noi.</h1>
	{% endif %}	

	<h2 style="text-align: center; font-size: 80px">
		{{headline}}
	</h2>

	<ul>
		{% for name in name_list %}			
		<li>
			{{name}}
		</li>
		{% endfor %}
	</ul>

	<a href="{{url_for('more')}}">see more.</a>
</body>
