<!DOCTYPE html>
<html lang = "en">
<head>
	<title>Testing Layouts</title>
</head>

<body>
	<h1>{% block heading %} {% endblock %}</h1>
	<h2>Layout is used.</h2>
	{% block body %}
	{% endblock %}
</body>
