{% extends "layout.html" %}

{% block heading %}
{% endblock %}

{% block body %}
	<h1>{{ headline }}</h1>
	<form action="{{ url_for('makeanote') }}" method="post">
		<input style="height: 100px; width: 30%;" type="text" name="note" placeholder="Batman is a fancy guy, he drives a jaguar but calls himself batman. Stupid guy..!">
		<button>make a note</button>
	</form>

	<ul style="color: darkmagenta; font-size: 50px;">
		{% for note in note_list %}			
		<li>
			{{ note }}
		</li>
		{% endfor %}
	</ul>
	
{% endblock %}