{% extends "layout.html" %}

{% block heading %}
	This is index.html rendered with the help of a layout.
{% endblock %}

{% block body %}
	<p>
		Batman goes for a walk, buys an ice cream, looking at the kids he wonders about his childhood when he had a dog who's kidneys failed and died in his hands, meanwhile joker sits on the roof sipping coffee, observing batman and thinking how ridiculous his outfit is.
		<br><br>Joker folds his chair and takes a deep breath climbs up on the edge of the roof and shouts out corkscewers.!
	</p>
	<a href="{{ url_for('index') }}">index</a>
{% endblock %}