<!DOCTYPE html>
<html lang = "en">
<!-- <head> -->
	<title>test flask more</title>
</head>

<body>
	<h2 style="text-align: center; font-size: 80px">
		Jackass
	</h2>
	<p>Batman goes on a walk, grabs an icecream sits on a chair folding legs lights a cigarette meanwhile joker sits on a roof observing batman grabing an icecream sitting on a chair folding legs lighting a cigarette.</p>
		<a href="{{url_for('index')}}">Go back</a>
</body>
