{% extends "flights/base.html" %}

{% block title %}{{title}}{% endblock %}

{% block body %}
	<h1>Flight{{flightId}}</h1>
	<h2>
		Origin:{{flight.origin.city}}<br>
		Destination:{{flight.destination.city}}<br>
		Duration:{{flight.duration}}<br>
		<h4>Passengers list:</h4>
		<ul>
		{% for passenger in passengers %}
			<li>{{passenger.first}} {{passenger.last}}</li>
		{% endfor %}
		</ul>
	</h2>

	<div>
		<h3>Book a flight</h3>
		<form action="{% url 'bookaflight' flightId %}" method="post">
			{% csrf_token %}
			<select name="passenger_id">
				{% for passenger in nonPassengers %}
					<option value="{{ passenger.id }}">{{ passenger.first }} {{ passenger.last }}</option>
				{% endfor %}
			</select>
			<input type="submit" value="Confirm!">
		</form>
	</div>
	<a href="{% url 'index' %}">Go to full listing</a>
{% endblock %}
