{% extends "flights/base.html" %}

{% block title %}{{title}}{% endblock %}

{% block body %}
	<h1>Listing airports</h1>
	<ul>
		{% for airport in airports %}
			<li>{{airport}}</li>
		{% endfor %}
	</ul>
	<h2>Listing flights</h2>
	<ul>
		{% for flight in flights %}
			<li>{{flight}}</li>
		{% endfor %}
	</ul>
{% endblock %}
