<!DOCTYPE html>
<html lang = "en">
<head>
	<title>MyBlog</title>
	<script src="{{ url_for('static', filename='js/script.js') }}"></script>
	<style type="text/css">
		@keyframes hide {
			0%{
				margin: 40px;
				opacity: 1;
				height: 100%;
				line-height: 200%;
				background-color: #42c5f4;
				padding-top: 0.3em;
				padding-left: 1em;
			}
			50%{
				margin: 40px;
				opacity: 0;
				height: 100%;
				line-height: 200%;
				background-color: #f25c54;
				padding-top: 0.3em;
				padding-left: 1em;
			}
			100%{
				margin: 0px;
				opacity: 0;
				height: 0%;
				line-height: 0%;
				padding-top: 0em;
				padding-left: 0em;
			}
		}
		.post{
			/*align-self: center;*/
			margin: 40px;
			font-size: 20px;
			line-height: 200%;
			font-weight: normal;
			padding-top: 0.3em;
			padding-left: 1em;
			width: 28em;
			text-align: left;
			overflow-wrap: break-word;
			background-color: #42c5f4;

			animation-duration: 2s;
			animation-name: hide;
			animation-fill-mode: forwards;
			animation-play-state: paused;
		}
		.hide-btn{
			float: right;
			padding-right: 20px;
		}
	</style>
</head>

<body>
	<h1>{% block heading %}
	{% endblock %}</h1>
	{% block body %}
	{% endblock %}
</body>
</html>