<!DOCTYPE html>
<html lang = "en">
<head>
	<title>MyBlog</title>
	<script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src=" https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.js"></script>
    <!-- 2d method -->
    <script id="roll-result" type="text/x-handlebars-template">
    	<li>
	    	You've rolled 
	    	<img alt=" {{ value }}" title= "{{ value }}"src="img/{{ value }}.png">

    	</li>
    </script>
	<script>
		console.log('Start')

		// method 1
		const template= Handlebars.compile("<li>You've rolled a {{ value }}</li>");

		//method2
		const template2= Handlebars.compile(document.querySelector("#roll-result").innerHTML);

		document.addEventListener('DOMContentLoaded', init);

		function init(){
			document.querySelector("#roll-btn").onclick = () => {
				const roll = Math.floor((Math.random()* 6) + 1);


				const content= template({'value': roll});
				document.querySelector("#rolls").innerHTML += content;
			}; 

			document.querySelector("#roll-btn2").onclick = () => {
				const roll = Math.floor((Math.random()* 6) + 1);


				const content= template2({'value': roll});
				document.querySelector("#rolls2").innerHTML += content;
			}; 
		}		
	</script>
	<style>
	</style>
</head>

<body>
	<h1>Roll the dice, no flask involved.</h1>
	<button id='roll-btn'>Roll!</button>
	
	<ul id='rolls'>
		
	</ul>

	<button id='roll-btn2'>Roll!</button>
	
	<ul id='rolls2'>
		
	</ul>
</body>
</html>