{% extends "login/base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
	<div>
		{% if message %}
			{{message}}
		{% endif %}
	</div>
	<form action="{% url 'user' %}" method="post">
		{% csrf_token %}
		Username<input type="text" name="username" placeholder="nancy.sinatra"><br>
		Password <input type="password" name="password" placeholder="password"><br>
		<input type="submit" value="login!">
	</form>
{% endblock %}
