<!DOCTYPE html>
<html lang = "en">
<head>
	<title>MyBlog</title>
	<script src="{{ url_for('static', filename='js/script.js') }}"></script>
	<style type="text/css">
		.post{
			/*align-self: center;*/
			margin: 40px;
			font-size: 20px;
			line-height: 200%;
			font-weight: normal;
			padding-top: 0.3em;
			padding-left: 1em;
			width: 28em;
			text-align: left;
			overflow-wrap: break-word;
			background-color: #42c5f4;
		}
		.hide-btn{
			float: right;
			padding-right: 20px;
		}
	</style>
</head>

<body>
	<h1>{% block heading %}
	{% endblock %}</h1>
	{% block body %}
	{% endblock %}
</body>
</html>